<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Tạo tài khoản</title>
  <link rel="stylesheet" href="{% static 'create_account.css' %}">
</head>

<body>
  {% include 'navbar.html' %}
    <div class="container">
      <div class="card">
        <h2>Tạo tài khoản</h2>
        <form method="post" style="display:flex; flex-direction: column;">

          <!-- <label for="code">Mã số sinh viên</label> -->
          <!-- <br> -->
          <!-- <input type="text" id="code" name="code" value="" required> -->
          <!-- <br> -->
          <!-- <label for="username">Tên tài khoản</label> -->
          <!-- <br> -->
          <!-- <input type="text" id="username" name="username" value="" required> -->
          <!-- <br> -->
          <!-- <label for="password">Mật khẩu</label> -->
          <!-- <br> -->
          <!-- <input type="password" id="password" name="password" value="" required> -->
          <!-- <br> -->
          <!-- <label for="position">Vị trí</label> -->
          <!-- <br> -->
          <!-- <select name="position" id="position"> -->
          <!--   <option value="teacher">Giáo viên</option> -->
          <!--   <option value="student">Sinh viên</option> -->
          <!-- </select> -->
          <!-- <br> -->
          {% csrf_token %}
          {{ form }}
          {% if request.GET.err == '1' %}
            <p style="color:red; margin-bottom:5px;">Tên tài khoản đã tồn tại</p>
          {% elif request.GET.err == '2' %}
            <p style="color:red; margin-bottom:5px;">Mã số sinh viên đã tồn tại</p>
          {% elif request.GET.success == '1' %}
            <p style="color:green; margin-bottom:5px;">Tạo tài khoản thành công</p>
          {% endif %}
          <input type="submit" name="change-info-submit-btn" value="Lưu" class="submit-btn">
        </form>
      </div>
    </div>
</body>

</html>
