{% load static %}
<style>
  * {
    box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
  }

  nav {
    display: flex;
    //align-items: center;
    width: 100%;
    background-color: #2A3F54;
    padding: 0 20px;
  }

  .nav-group {
    display: flex;
  }

  .nav-item {
    text-align: center;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    min-width: 120px;
    font-weight: bold;
    //height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-right {
    margin-left: auto;
  }

  .nav-item:hover {
    background-color: #337AB7;
  }

  .nav-user-img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }

  .nav-logout-img {
    width: 30px;
    height: 30px;
  }

  .nav-logout {
    min-width: 50px;
    margin: 0;
  }
</style>
<script src="https://kit.fontawesome.com/8533135931.js" crossorigin="anonymous"></script>
<nav>
  {% if request.session.position == 'student' %}
  <div class="nav-group nav-left">
    <a href="lietkedethi" class="nav-item">Làm bài thi</a>
    <a href="/history" class="nav-item">Lịch Sử Làm Bài</a>
  </div>
  <div class="nav-group nav-right">
    <a href="/personal-info" class="nav-item"><img src="{% static './icon/149071.png' %}" class="nav-user-img">
      {{ request.session.name }}
    </a>
    <a href="/logout" class="nav-item nav-logout"><i class="fa-solid fa-right-from-bracket"></i></a>
  </div>
  {% elif request.session.position == 'teacher' %}
  <div class="nav-group nav-left">
    <a href="lietkedethi" class="nav-item">Danh sách bài thi</a>
    <a href="CreateTestServlet" class="nav-item">Tạo bài thi</a>
  </div>
  <div class="nav-group nav-right">
    <a href="/personal-info" class="nav-item"><img src="{% static './icon/149071.png' %}" class="nav-user-img">
      {{ request.session.name }}
    </a>
    <a href="/logout" class="nav-item nav-logout"><i class="fa-solid fa-right-from-bracket"></i></a>
  </div>
  {% else %}
  <div class="nav-group nav-left">
    <a href="lietkedethi" class="nav-item">Danh sách bài thi</a>
    <a href="CreateTestServlet" class="nav-item">Tạo bài thi</a>
    <a href="/create-account/" class="nav-item">Tạo tài khoản</a>
  </div>
  <div class="nav-group nav-right">
    <a href="/personal-info" class="nav-item"><img src="{% static './icon/149071.png' %}" class="nav-user-img">
      {{ request.session.name }}
    </a>
    <a href="/logout" class="nav-item nav-logout"><i class="fa-solid fa-right-from-bracket"></i></a>
  </div>
  {% endif %}
</nav>
