{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh vien</title>
    <link rel="stylesheet" href="{% static 'history_do_test.css' %}">
</head>
<body>
	{% include 'navbar.html' %}
	
  <div class="container">
    <h1>Danh sách sinh viên</h1>
    <div class="list">
      <table>
        <thead>
          <tr>
            
            <th>Tên</th>
            <th>Điểm</th>
            <th>Thời gian nộp bài</th>
            <th>Xem chi tiết</th>
          </tr>
        </thead>
        <tbody>
        	{% for qd in queryset_dict %}  	
	        <tr>          
		       <td>{{qd.Name}}</td>
		       <td>{{qd.Grade}}</td>
		       <td>{{qd.SubmitTime}}</td>
		       <td><a href = '/view-detail/?id-result={{ qd.IDResult }}'>Xem</a></td>
	        </tr>        
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>